@page "/"
@inject IJSRuntime JSRuntime
<!-- import the icons that are displayed on this page -->
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/user-add.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/log-off.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/info.css' rel='stylesheet'>
<style>    
    .nav-btn {
        display: block;
        text-align: start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .bi {
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
    }

    .gradient-text {
        color: white;
    }
</style>
<PageTitle>Agent X</PageTitle>
<center>
    <h1 class="gradient-text">
        Welcome to Agent-X
    </h1>
</center>


<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="btn btn-primary nav-btn" href="new">
                <span class="bi gg-add"> </span> Create a new game
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="btn btn-primary nav-btn" href="join">
                <span class="bi gg-user-add"></span> Join to an existing game 
            </NavLink>
        </div>
        <!--div class="nav-item">
            <NavLink class="btn btn-primary nav-btn" href="chat">
                <span class="bi gg-user-add"></span> Chat
            </NavLink>
        </div-->
        <div class="nav-item">
            <NavLink class="btn btn-primary nav-btn" href="help" Match="NavLinkMatch.All">
                <span class="bi gg-info"></span> Help
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="btn btn-primary nav-btn" href="" @onclick="CloseApp">
                <span class="bi gg-log-off"></span> Exit
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private async Task CloseApp()
    {
        await JSRuntime.InvokeVoidAsync("closeWindow");
    }
}